{% extends 'base.html' %}

{% block meta %}
    <title>Folding@Together | About Us</title>
    <meta name="description" content="An alternative way for individuals to contribute compute resources for Covid-19 researchers to find a cure faster." />
{% endblock %}

{% block head_scripts %}
    <script type="text/javascript">
        window.FOLD.DONATION_COUNT = {{ donation_count }};
    </script>
{% endblock %}

{% block content %}
    <h2 class="uppercase text-3xl tracking-wide font-bold pb-8">Folding@Together Makes It Easy To Power Research</h2>

    <p class="text-gray-600 leading-relaxed text-lg">
        The <a href="https://foldingathome.org/" class="content-link">folding@home project</a> and its contemporaries (like the <a href="https://boinc.bakerlab.org/" class="content-link">rosetta@home project</a>)
        allow anyone to donate their unused computing resources to researchers searching for new drug therapies. By downloading
        and running a simple piece of software, you can turn your computer into a powerful tool for researchers.
    </p>

    <p class="text-gray-600 mt-4 leading-relaxed text-lg">
        However, for some it can be a daunting and scary task to lend computing power in this way. While the software itself
        is totally safe and the simplest, cheapest way to contribute, <strong>folding@together</strong> is an option for those who want to
        help but are still hesitant about downloading and running the required software.
    </p>

    <h2 class="uppercase text-3xl tracking-wide font-bold pb-8 mt-6">What we do</h2>

    <p class="text-gray-600 leading-relaxed text-lg">
        By leveraging the power of the cloud, we allow donors to provide researchers with valuable computing power without
        running any of the folding software themselves. Through microdonations from $1 - $100, we purchase and run computing resources
        on donors' behalf. In the interest of total transparency, we then provide all donors with a report detailing exactly how
        much work their donation enabled.
    </p>

    <h3 class="uppercase text-2xl tracking-wide font-bold pb-4 mt-6">Contributors</h3>

    <ul class="text-gray-600">
        <li class="py-2"><a href="https://www.meanpug.com/our-pack/bobby-steinbach" class="content-link">Bobby Steinbach</a></li>
        <li class="py-2"><a href="https://atkinsonm.github.io/" class="content-link">Mike Atkinson</a></li>
        <li class="py-2">Mervin Johnsingh</li>
        <li class="py-2">Rishabh Chakrabarty</li>
    </ul>
{% endblock %}

{% block after_content %}
    <section class="py-4 px-4 md:px-12 bg-gray-100">
        <h2>Team Stats</h2>

        <div class="pt-8" id="folding-team-stats"></div>
    </section>
{% endblock %}
