{% extends 'base.html' %}

{% block meta %}
    <title>Folding@Together | Providing Compute Resources to Disease Researchers</title>
    <meta name="description" content="An alternative way for individuals to contribute compute resources for Covid-19 researchers to find a cure faster." />
{% endblock %}

{% block head_scripts %}
    <script type="text/javascript">
        window.FOLD.DONATION_COUNT = {{ donation_count }};
    </script>
{% endblock %}

{% block content %}
    <h1 class="uppercase text-3xl lg:text-5xl tracking-wide font-bold pb-8">Help find a cure to Covid-19</h1>

    <p class="text-gray-600 leading-relaxed text-lg">
        Researchers need your computing power to run simulations in search of cures to diseases like Covid-19.
        The <a href="https://foldingathome.org/" class="content-link">Folding@Home project</a> was created to make contributing
        unused computing power towards this cause as simple as possible, however many are hesitant about running the required
        software on their personal computers.
    </p>

    <h2 class="pt-4">Making contribution of computation resources easy</h2>
    <p class="text-gray-600 mt-4 leading-relaxed text-lg">
        <strong>Folding@Together</strong> makes it easy for donors to contribute computing power to researchers via cash microdonations.
        These donations are deployed to launch and run powerful servers on the AWS Cloud which researchers can use for running computationally expensive protein folding simulations.
        <a href="{% url 'about' %}" class="content-link">Learn more</a> about how we make contributing resources simple.
        Let's help find a cure, together.
    </p>
{% endblock %}

{% block after_content %}
    <section class="py-4 px-4 md:px-12 bg-gray-100">
        <h2>Team Stats</h2>

        <div class="pt-8" id="folding-team-stats"></div>
    </section>
{% endblock %}
