{% extends 'base.html' %}

{% block meta %}
    <title>Folding@Together | Thanks for Your Donation!</title>
    <meta name="description" content="An alternative way for individuals to contribute compute resources for Covid-19 researchers to find a cure faster." />
{% endblock %}

{% block content %}
    <h1 class="pb-4">Thanks For Your Contribution!</h1>

    <p>By donating, you've helped researchers find cures to destructive diseases like Covid-19, Ebola, and Cancer</p>

    <h3 class="pt-3 pb-4">Whats Next?</h3>

    <p>Now it's time to spread the word! The more people that donate, the more computing power we can offer to researchers
    searching for new drug therapies.</p>
{% endblock %}
